body{
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

header{
    width: 100%; 
    top: 0; 
    padding: 1rem; 
    display: flex;
    justify-content: space-between; 
    background-color: green;
}

main{
    flex: 1;
}